@page "/"

<PageTitle>Home</PageTitle>

<a href="https://www.instagram.com/maslowsd/" style="color:rgb(255, 5, 230);front-size:22px"> Igor Maslovskyi, 119779</a>

<h2>Welcome to my first web app.</h2>
